0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
655    NaN
656    NaN
657    NaN
658    NaN
659    NaN
Name: yearAndMonth, Length: 660, dtype: object

In [28]:
# WOMEN UNEMPLOYMENT LEVEL

import pandas as pd

# Load the data
data = pd.read_csv('Unemployment_Number_Women.csv')

# Create an empty list to store the transformed rows
transformed_rows = []

for index, row in data.iterrows():
    year = int(row['Year'])  # Convert Year to integer
    for month_num, month_name in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 1):
        month_val = row[month_name]
        
        # Check if month_val is NaN, and if so, continue to the next iteration
        if pd.isna(month_val):
            continue
            
        # Construct the yearAndMonth string
        yearAndMonth = f"{year}-{month_num:02d}"
        
        # Append a dictionary to the transformed_rows list
        transformed_rows.append({
            'yearAndMonth': yearAndMonth,
            'Year': year,
            'Month': month_name,
            'Unemployment Level (in thousands)': int(month_val),
            'Gender': 'Women'
        })

# Convert the list of dictionaries to a DataFrame
transformed_data = pd.DataFrame(transformed_rows)
transformed_data = transformed_data.loc[transformed_data['yearAndMonth'] <= "2023-08"]

# Save the transformed data to a new CSV file
transformed_data.to_csv('Unemployment_Level_Women_transformed_file.csv', index=False)

In [29]:
# MEN UNEMPLOYMENT LEVEL

import pandas as pd

# Load the data
data = pd.read_csv('Unemployment_Number_Men.csv')

# Create an empty list to store the transformed rows
transformed_rows = []

for index, row in data.iterrows():
    year = int(row['Year'])  # Convert Year to integer
    for month_num, month_name in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 1):
        month_val = row[month_name]
        
        # Check if month_val is NaN, and if so, continue to the next iteration
        if pd.isna(month_val):
            continue
            
        # Construct the yearAndMonth string
        yearAndMonth = f"{year}-{month_num:02d}"
        
        # Append a dictionary to the transformed_rows list
        transformed_rows.append({
            'yearAndMonth': yearAndMonth,
            'Year': year,
            'Month': month_name,
            'Unemployment Level (in thousands)': int(month_val),
            'Gender': 'Men'
        })

# Convert the list of dictionaries to a DataFrame
transformed_data = pd.DataFrame(transformed_rows)
transformed_data = transformed_data.loc[transformed_data['yearAndMonth'] <= "2023-08"]

# Save the transformed data to a new CSV file
transformed_data.to_csv('Unemployment_Level_Men_transformed_file.csv', index=False)

In [30]:
# WOMEN UNEMPLOYMENT RATE

import pandas as pd

# Load the data
data = pd.read_csv('Unemployment_Rate_Women.csv')

# Create an empty list to store the transformed rows
transformed_rows = []

for index, row in data.iterrows():
    year = int(row['Year'])  # Convert Year to integer
    for month_num, month_name in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 1):
        month_val = row[month_name]
        
        # Check if month_val is NaN, and if so, continue to the next iteration
        if pd.isna(month_val):
            continue
            
        # Construct the yearAndMonth string
        yearAndMonth = f"{year}-{month_num:02d}"
        
        # Append a dictionary to the transformed_rows list
        transformed_rows.append({
            'yearAndMonth': yearAndMonth,
            'Year': year,
            'Month': month_name,
            'Unemployment Rate (in percentage)': month_val,
            'Gender': 'Women'
        })

# Convert the list of dictionaries to a DataFrame
transformed_data = pd.DataFrame(transformed_rows)
transformed_data = transformed_data.loc[transformed_data['yearAndMonth'] <= "2023-08"]

# Save the transformed data to a new CSV file
transformed_data.to_csv('Unemployment_Rate_Women_transformed_file.csv', index=False)

In [31]:
# MEN UNEMPLOYMENT RATE

import pandas as pd

# Load the data
data = pd.read_csv('Unemployment_Rate_Men.csv')

# Create an empty list to store the transformed rows
transformed_rows = []

for index, row in data.iterrows():
    year = int(row['Year'])  # Convert Year to integer
    for month_num, month_name in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 1):
        month_val = row[month_name]
        
        # Check if month_val is NaN, and if so, continue to the next iteration
        if pd.isna(month_val):
            continue
            
        # Construct the yearAndMonth string
        yearAndMonth = f"{year}-{month_num:02d}"
        
        # Append a dictionary to the transformed_rows list
        transformed_rows.append({
            'yearAndMonth': yearAndMonth,
            'Year': year,
            'Month': month_name,
            'Unemployment Rate (in percentage)': month_val,
            'Gender': 'Men'
        })

# Convert the list of dictionaries to a DataFrame
transformed_data = pd.DataFrame(transformed_rows)
transformed_data = transformed_data.loc[transformed_data['yearAndMonth'] <= "2023-08"]

# Save the transformed data to a new CSV file
transformed_data.to_csv('Unemployment_Rate_Men_transformed_file.csv', index=False)

In [39]:
# Load the CSV files into Pandas DataFrames
df1 = pd.read_csv("Unemployment_Level_Women_transformed_file.csv")
df2 = pd.read_csv("Unemployment_Rate_Women_transformed_file.csv")
df3 = pd.read_csv("Unemployment_Level_Men_transformed_file.csv")
df4 = pd.read_csv("Unemployment_Rate_Men_transformed_file.csv")

# concat_df = pd.concat([df1, df2, df3, df4])

# # # Merge the DataFrames based on common columns
merged_women_df = pd.merge(df1, df2, on=["yearAndMonth", "Year", "Month","Gender"])
merged_men_df = pd.merge(df3, df4, on=["yearAndMonth", "Year", "Month","Gender"])

merged_men_df

,yearAndMonth,Year,Month,Unemployment Level (in thousands),Gender,Unemployment Rate (in percentage)
0,1969-01,1969,Jan,927,Men,2.0
1,1969-02,1969,Feb,903,Men,2.0
2,1969-03,1969,Mar,900,Men,1.9
3,1969-04,1969,Apr,904,Men,2.0
4,1969-05,1969,May,904,Men,2.0
...,...,...,...,...,...,...
651,2023-04,2023,Apr,2778,Men,3.3
652,2023-05,2023,May,2961,Men,3.5
653,2023-06,2023,Jun,2906,Men,3.4
654,2023-07,2023,Jul,2817,Men,3.3
655,2023-08,2023,Aug,3157,Men,3.7

In [40]:
merged_data = pd.concat([merged_women_df,merged_men_df], ignore_index=True)

# Save the merged DataFrame to a new CSV file
merged_data.to_csv("Merged_Unemployment_Level_And_Rate.csv", index=False)