0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
655    NaN
656    NaN
657    NaN
658    NaN
659    NaN
Name: yearAndMonth, Length: 660, dtype: object

In [1]:
# WOMEN LABOR FORCE LEVEL

import pandas as pd

# Load the data
data = pd.read_csv('Not_In_Labor_Force_Level_Women.csv')

# Create an empty list to store the transformed rows
transformed_rows = []

for index, row in data.iterrows():
    year = int(row['Year'])  # Convert Year to integer
    for month_num, month_name in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 1):
        month_val = row[month_name]
        
        # Check if month_val is NaN, and if so, continue to the next iteration
        if pd.isna(month_val):
            continue
            
        # Construct the yearAndMonth string
        yearAndMonth = f"{year}-{month_num:02d}"
        
        # Append a dictionary to the transformed_rows list
        transformed_rows.append({
            'yearAndMonth': yearAndMonth,
            'Year': year,
            'Month': month_name,
            'Not In Labour Force Level (in thousands)': int(month_val),
            'Gender': 'Women'
        })

# Convert the list of dictionaries to a DataFrame
transformed_data = pd.DataFrame(transformed_rows)
transformed_data = transformed_data.loc[transformed_data['yearAndMonth'] <= "2023-08"]

# Save the transformed data to a new CSV file
transformed_data.to_csv('Not_In_Labor_Force_Level_Women_transformed_file.csv', index=False)

In [2]:
# MEN LABOR FORCE LEVEL

import pandas as pd

# Load the data
data = pd.read_csv('Not_In_Labor_Force_Level_Men.csv')

# Create an empty list to store the transformed rows
transformed_rows = []

for index, row in data.iterrows():
    year = int(row['Year'])  # Convert Year to integer
    for month_num, month_name in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 1):
        month_val = row[month_name]
        
        # Check if month_val is NaN, and if so, continue to the next iteration
        if pd.isna(month_val):
            continue
            
        # Construct the yearAndMonth string
        yearAndMonth = f"{year}-{month_num:02d}"
        
        # Append a dictionary to the transformed_rows list
        transformed_rows.append({
            'yearAndMonth': yearAndMonth,
            'Year': year,
            'Month': month_name,
            'Not In Labour Force Level (in thousands)': int(month_val),
            'Gender': 'Men'
        })

# Convert the list of dictionaries to a DataFrame
transformed_data = pd.DataFrame(transformed_rows)
transformed_data = transformed_data.loc[transformed_data['yearAndMonth'] <= "2023-08"]

# Save the transformed data to a new CSV file
transformed_data.to_csv('Not_In_Labor_Force_Level_Men_transformed_file.csv', index=False)

In [4]:
# Load the CSV files into Pandas DataFrames
women_df = pd.read_csv("Labor_Force_Level_Women_transformed_file.csv")
men_df = pd.read_csv("Labor_Force_Level_Men_transformed_file.csv")

women_df

    yearAndMonth  Year Month  Labour Force Level (in thousands) Gender
0        1969-01  1969   Jan                              26770  Women
1        1969-02  1969   Feb                              27084  Women
2        1969-03  1969   Mar                              27096  Women
3        1969-04  1969   Apr                              27262  Women
4        1969-05  1969   May                              27262  Women
..           ...   ...   ...                                ...    ...
651      2023-04  2023   Apr                              74868  Women
652      2023-05  2023   May                              75005  Women
653      2023-06  2023   Jun                              74927  Women
654      2023-07  2023   Jul                              75205  Women
655      2023-08  2023   Aug                              75541  Women

[656 rows x 5 columns]

In [6]:
merged_data = pd.concat([women_df,men_df], ignore_index=True)

# Save the merged DataFrame to a new CSV file
merged_data.to_csv("Merged_Not_In_Labour_Force.csv", index=False)